<%- include partials/header.ejs %>

<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Road2Hell</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/logo.css">
    <link rel="stylesheet" href="assets/css/Navbar---Logo-Up---Part-2-Image.css">
    <link rel="stylesheet" href="assets/css/pikaday.min.css">
</head>

<body>
    <main class="page lanidng-page">
        <h1 style="text-align: center;margin-top: 30px;"><img id="toplogoimage" src="assets/img/logo1.png" width="400" height="121"></h1><section class="portfolio-block block-intro">
    <p>Your journey to fitness has been revolutionized with latest technologies involving crypto as a exchange for your health</p>
    <p><strong><span style="color: rgb(43, 84, 126);">TRAIN WITH EXPERTS</span></strong></p>
    <p></p><img class="img-fluid image" src="assets/img/nature/ASHISH.png" width="247" height="432" /><img class="img-fluid image" src="assets/img/nature/image-380x450.png" width="368" height="436" /><img class="img-fluid image" src="assets/img/nature/ashwini.png" width="312" height="436" />
    <div class="container">
        <div class="about-me"></div>
    </div>
    <p><strong><span style="color: rgb(43, 84, 126);">TRAIN WITH EXPERTS</span></strong></p><img class="img-fluid image" src="assets/img/tech/offers%20given%20by%20gym.png" width="1266" height="490" />
</section>
        <section class="portfolio-block photography"></section>
    </main>
    <footer class="page-footer py-3 border-top">
        <p style="margin-bottom: 16px;padding-bottom: 46px;">Physically active can&nbsp;improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities.&nbsp;</p>
        <div class="container my-4">
            <div class="links"></div><img class="img-fluid image" src="assets/img/tech/offers%20given%20by%20gym%201.png" width="1266" height="490">
            <section class="portfolio-block skills">
                <h2><strong>Special Skills</strong></h2>
                <div class="container">
                    <div class="heading"></div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3 col-xxl-4">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Modern equipment</h3>
                                    <p class="card-text">It is very important that our team be aware of the customer's needs but at the same time help them achieve their goals</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xxl-4">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Healthy nutrition plan</h3>
                                    <p class="card-text">Healthy nutrition plan is the key for health body and mind</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xxl-4">
                            <div class="card special-skill-item border-0">
                                <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                                <div class="card-body">
                                    <h3 class="card-title">Unique to your needs</h3>
                                    <p class="card-text">Personal training sessions are available for those seeking personalized attention and guidance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="social-icons"></div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>