<%- include partials/header.ejs %>

<!DOCTYPE html>
<html data-bs-theme="light" style="--bs-secondary: #086ec9;--bs-secondary-rgb: 8,110,201;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Road2Hell</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/AXY-Contact-Us-ContactUs.css">
    <link rel="stylesheet" href="assets/css/AXY-Contact-Us.css">
    <link rel="stylesheet" href="assets/css/logo.css">
    <link rel="stylesheet" href="assets/css/Navbar---Logo-Up---Part-2-Image.css">
    <link rel="stylesheet" href="assets/css/pikaday.min.css">
    <link rel="stylesheet" href="assets/css/Swipe-Slider-7-styles.min.css">
</head>

<body>
    <main class="page projects-page" style="--bs-body-bg: #ccafaf;">
        <section class="portfolio-block projects-cards" style="box-shadow: 0px 0px var(--bs-body-color);--bs-primary: #1192e6;--bs-primary-rgb: 17,146,230;--bs-body-bg: rgba(255,209,209,0.96);--bs-body-font-weight: bold;">
            <div class="container">
                <div class="heading">
                    <h2 style="font-size: 43px;color: var(--bs-emphasis-color);font-weight: bold;width: 1300px;height: 4.6px;">client updates</h2>
                </div>
                <h2 style="font-size: 34px;color: #0076c9;font-weight: bold;--bs-body-font-size: 1rem;width: 1303px;height: 123.6px;margin: -3px;">THESE CLIENTS HAVE BEEN USING BLOCKCHAIN TECHNLOGY WITH THEIR EXPERTS AND ARE ARE THRILLED TO SHARE THEIR EXPERIENCES</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/client-1.webp" alt="Card Image" width="296" height="275"></a>
                            <div class="card-body">
                                <h6><a href="#">Vaibhav kaul, J &amp; K</a></h6>
                                <p class="text-muted card-text">One of the best gyms where latest equipments have been added and good environment for workout -- 09/10/23</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/aksam.jpeg" alt="Card Image" width="296" height="275"></a>
                            <div class="card-body">
                                <h6><a href="#">Akshay Nair and Saim, Delhi</a></h6>
                                <p class="text-muted card-text">This place is like a temple and love how blockchain a emerging technology have been used in this industry.&nbsp;&nbsp;&nbsp;-- 19/11/23</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/WhatsApp%20Image%202023-12-16%20at%2012.33.40%20(6).jpg" alt="Card Image" width="296" height="250"></a>
                            <div class="card-body">
                                <h6><a href="#">Nkaul Sachdeva, Indore</a></h6>
                                <p class="text-muted card-text">Joined 2 years back, the quality provided by Road2Hell is still same and loved the way how technology is used by the team wherever possible&nbsp;&nbsp;-- 10/06/23</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/client3.jpg" alt="Card Image" width="296" height="297"></a>
                            <div class="card-body">
                                <h6><a href="#">Mukul, U.S&nbsp;</a></h6>
                                <p class="text-muted card-text">I have been following Mr.Ashish from aborad and loved his way of teaching and progressive overloading.&nbsp;&nbsp;-- 08/11/23</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/client4.jpg" alt="Card Image" style="--bs-body-color: #000407;" width="296" height="276"></a>
                            <div class="card-body">
                                <h6><a href="#">Keshav Chauhan, Nepal</a></h6>
                                <p class="text-muted card-text">I have gained 3kg of muscle mass and I have been part of Road2Hell from a long time . My whole family has been part of this gym.&nbsp;&nbsp;-- 08/08/23</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="assets/img/nature/client5.jpg" alt="Card Image" width="296" height="255"></a>
                            <div class="card-body">
                                <h6><a href="#">Lalit Pnadey, UP</a></h6>
                                <p class="text-muted card-text">Payment through the application has been been made easier and safe through introduction of blockchain technology by Road2Hell. I am enjoying this transformation journey.&nbsp;&nbsp;-- 10/09/23&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer py-3 border-top"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/pikaday.min.js"></script>
    <script src="assets/js/Swipe-Slider-7-script.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>